*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(bg-14.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;
}
.container{
    position: relative;
    max-width: 650px;
    width: 100%;
    background: white;
    padding: 40px 30px;
    border-radius: 10px;
    box-shadow: 05px 10px rgba(0,0,0,0,2);
}
.container .cover{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    background: green;
    border-radius: 10px 20px 20px 10px;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.container form{
    height: 100%;
    width: 100%;
    background: white;
}
.container .form-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-content .login-form,
.form-content .signup-form{
    width: calc(100% / 2 - 25px);
    
    /*background: red;*/
}

form .form-content .title{
    position: relative;
    font-size: 24px;
    font-weight: 500;
    color: #333;
}
form .form-content .title2{
    position: relative;
    left: 20px;
    font-size: 24px;
    font-weight: 500;
    color: white;
}
form .form-content .title img{
    position: relative;
    top: 20px;
    left: 30px;
    height: 45vh;
    width: 30vh;
    align-items: center;
    justify-content: space-between;
}
form .form-content .title:before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 25px;
    background: green;
}
form .signup-form .title:before{
    width: 20px;
}
form .form-content .input-boxes{
    margin-top: 30px;
}
form .form-content .input-box{
    display:flex;
    align-items: center;
    height: 50px;
    width: 100%;
    margin: 10px 0;
    position: relative;
}
.form-content .input-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    padding: 0 30px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid rgba(0,0,0,0.2);
    transition: all 0.3s ease;
}
.form-content .input-box input:focus,
.form-content .input-box input:valid{
    border-color: green;
}
form .form-content .text{
    font-size: 14px;
    font-weight: 500;
    color: #333;
}
form .form-content .text a{
    text-decoration: none;
}
form .form-content .text a:hover{
    text-decoration: underline;
}
form .form-content .button {
    color: #fff;
    margin-top: 40px;
}
form .form-content .button input{
    color: #fff;
    background: green;
    border-radius: 6px;
    padding: 0;
    cursor: pointer;
    transition: all 0.4s ease;
}
form .form-content .button input:hover{
    background: rgb(91, 180, 91);
}
form .form-content label{
    color: #5b13b9;
    cursor: pointer;
}
form .form-content label:hover{
    text-decoration: underline;
}

@media screen and (max-width: 465px){
    .container .cover{
        display: none;
    }
    .form-content .login-form,
    .form-content .signup-form{
        width: 100%;
    
    /*background: red;*/
    }
    .form-content .signup-form{
        display: none;
    }
}